<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1>Contenedor</h1>
        <p> Los contenedores son una forma de virtualización del sistema operativo. Un solo contenedor se puede usar para ejecutar cualquier cosa, desde un microservicio o un proceso de software a una aplicación de mayor tamaño. Dentro de un contenedor se encuentran todos los ejecutables, el código binario, las bibliotecas y los archivos de configuración necesarios.
            En implementaciones de aplicaciones de mayor tamaño, se pueden poner en marcha varios contenedores como uno o varios clústeres de contenedores. Estos clústeres se pueden gestionar mediante un orquestador de contenedores, como Kubernetes.</p>
            <div align="center"><img src="https://www.teamnet.com.mx/hs-fs/hubfs/contenedores%20inform%C3%A1tucos.png?width=320&height=255&name=contenedores%20inform%C3%A1tucos.png"></div>

            <li class="">
                <a href="/docker">
                    <span>Docker</span>
                </a>
            </li>

            <li class="">
                <a href="/ubuntu">
                    <span>Ubuntu</span>
                </a>
            </li>
        
              
    </body>
</html>